<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="refresh" content="20">
        <title>Homepage</title>
        <style>
            .download_button{
                background-color: rgb(11, 108, 199);
                color: white;
                padding: 4px 8px;
                border-radius: 10px;
                text-decoration: none;
                margin-bottom: 4px;
            }
            .download_button:hover{
                background-color: rgb(0, 195, 255);
                color: white;
                transition: 0.1s;
                text-decoration: none;
            }
            table.dataTable tbody td {
                padding: 2px 4px !important;
            }
        </style>
    </head>
    <body style="text-align: center ;">
        <h2 class="alert alert-info">
           <img width="300" src="https://www.bookyogaretreats.com/static/files/gift-card/gift-card-landing.png"><strong>Book Yoga Retreat Scraper Update</strong> 
        </h2>
        <h2 class="alert alert-success">
            Total # of records in db : <strong>{{ no_of_records }}</strong> 
        </h2>
       <div class="container">
        <!-- <span style="float: left;">Showing last one hundred entries </span> -->
        <!-- <a href="/airbnb/download_csv" class="download_button" style="float: right;"><i class="bi bi-download"></i>&nbsp;Download CSV</a> -->
            <table id="table1">
                <thead>
                    <tr>
                        <th>Scrapped_At</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                        <th>Location</th>
                        <th>Main_Image</th>

                    </tr>
                </thead>
                <tbody>
                    {% for listing in latest_listings %}
                  <tr>
                        <td>{{listing.created_date}}</td>
                        <td>{{listing.listing_id}}</td>
                        <td>{{listing.listing_title}}</td>
                        <td>{{listing.listing_subtitle}}</td>
                        <td>{{listing.listing_location}}</td>
                        <td><img src="{{listing.listing_images}}" width="60px" height="60px"></a></td>  
                        
                       
                       
                       
                        
                        <!-- <td><a target="_blank" >{{listing.listing_accomodation}}</a></td> -->
                        
                        <!-- <td>{{listing.bedrooms}}</td>
                        <td>{{listing.bathrooms}}</td>
                        <td>{{listing.max_guests}}</td>
                        <td>{{listing.currency}}</td>
                        <td>{{listing.average_daily_rate_USD}}</td>   -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $('#table1').DataTable({
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "pageLength": 20,
                "order": [[0, "desc"]],
                "columnDefs": [
                    { targets: [0], width: '15%' },
                    { targets: [3], width: '35%' },
                ],
            });
        });
    </script>
</html>